@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<body>
    <img id="banner" src="~/css/DinoDiner-29.png"/>
</body>

<a asp-page="/About">Go to About,</a>
<a asp-page="/Menu">Go to Menu,</a>
<a asp-page="/Privacy">Go to Privacy</a>